<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Done Page</title>
    <link rel="stylesheet" href="../css/master.css">
  </head>
  <body>
      <h1 style = "text-align:left;">Thank you for signing up!</h1>
      <p style = "text-align:left;">You will soon receive a confirmation email.</p>
  </body>
</html>
