<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/master.css">
  </head>
  <body>
    <h1>Login Page</h1>
    <h2>Enter the details</h2>

    <form class="fillup" method="get">
     <p>Email Address: <span>*</span> </p>
     <input type="email" name="" placeholder="abc@example.com" required>
     <p>Password: <span>*</span> </p>
     <input type="password" name="" required>
     <br>
     <input id = "btn" type="submit" name="" value="Log In">
    </form>
  </body>
</html>
